CREATE DATABASE [IntelligentSystemDB]
GO

USE [IntelligentSystemDB]
GO
/****** Object:  User [admin]    Script Date: 11/6/2025 3:19:36 AM ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 11/6/2025 3:19:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[birthday] [date] NULL,
	[address] [nvarchar](max) NULL,
	[gender] [bit] NULL,
	[phone] [varchar](20) NULL,
	[profile_picture_url] [varchar](max) NULL,
	[account_type] [nvarchar](50) NOT NULL,
	[account_status] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [pk_account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AREA]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AREA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[commune] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[province] [nvarchar](100) NOT NULL,
	[country] [nvarchar](100) NOT NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
	[description] [nvarchar](500) NULL,
 CONSTRAINT [pk_area] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARE_PARTNER]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARE_PARTNER](
	[id] [int] NOT NULL,
	[partner_status] [bit] NOT NULL,
	[partner_type] [nvarchar](100) NULL,
	[organization_name] [nvarchar](255) NULL,
 CONSTRAINT [pk_care_partner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCTV]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTV](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[stream_url] [varchar](max) NOT NULL,
	[ip] [nvarchar](50) NULL,
	[port] [int] NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
	[camera_type] [nvarchar](100) NULL,
	[last_online] [datetime] NULL,
	[id_area] [int] NULL,
 CONSTRAINT [pk_cctv] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCTV_REPORT]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCTV_REPORT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cctv] [int] NULL,
	[id_missing_document] [int] NULL,
	[detail] [nvarchar](max) NULL,
	[time_report] [datetime] NOT NULL,
	[confirmation_status] [nvarchar](50) NOT NULL,
	[confident] [float] NULL,
	[detection_log] [nvarchar](255) NULL,
	[detect_picture] [varchar](max) NULL,
	[id_police_reviewer] [int] NULL,
	[review_time] [datetime] NULL,
	[review_notes] [nvarchar](max) NULL,
 CONSTRAINT [pk_cctv_report] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_AREA_ACCOUNT]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_AREA_ACCOUNT](
	[id_area] [int] NOT NULL,
	[id_account] [int] NOT NULL,
 CONSTRAINT [pk_detail_area_account] PRIMARY KEY CLUSTERED 
(
	[id_area] ASC,
	[id_account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANAGE_DOCUMENT]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANAGE_DOCUMENT](
	[id_police] [int] NOT NULL,
	[id_missing_document] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[found_date] [datetime] NULL,
	[found_person_picture] [varchar](max) NULL,
	[confirm_time] [datetime] NULL,
	[update_time] [datetime] NULL,
	[find_place] [nvarchar](max) NULL,
	[confirmation_method] [nvarchar](255) NULL,
	[id_found_volunteer] [int] NULL,
 CONSTRAINT [pk_manage_document] PRIMARY KEY CLUSTERED 
(
	[id_police] ASC,
	[id_missing_document] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MISSING_DOCUMENT]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISSING_DOCUMENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[birthday] [date] NULL,
	[gender] [bit] NULL,
	[identity_card_number] [varchar](100) NULL,
	[height] [nvarchar](20) NULL,
	[weight] [nvarchar](20) NULL,
	[identifying_characteristic] [nvarchar](max) NULL,
	[last_known_outfit] [nvarchar](max) NULL,
	[medical_conditions] [nvarchar](max) NULL,
	[face_picture_url] [varchar](max) NOT NULL,
	[missing_time] [datetime2](7) NULL,
	[report_date] [datetime] NOT NULL,
	[update_date] [datetime2](7) NULL,
	[case_status] [nvarchar](50) NOT NULL,
	[reporter_relationship] [nvarchar](100) NULL,
	[id_missing_area] [int] NULL,
	[id_reporter] [int] NULL,
 CONSTRAINT [pk_missing_document] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLICE]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLICE](
	[id] [int] NOT NULL,
	[police_code] [nvarchar](50) NULL,
	[rank] [nvarchar](100) NULL,
	[station] [nvarchar](255) NULL,
	[patrol_car_number] [nvarchar](255) NULL,
 CONSTRAINT [pk_police] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOLUNTEER]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOLUNTEER](
	[id] [int] NOT NULL,
	[volunteer_status] [bit] NOT NULL,
	[date_joined] [date] NULL,
	[skills] [nvarchar](max) NULL,
	[rating] [float] NULL,
 CONSTRAINT [pk_volunteer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOLUNTEER_REPORT]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOLUNTEER_REPORT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_missing_document] [int] NOT NULL,
	[id_volunteer] [int] NOT NULL,
	[report_time] [datetime] NOT NULL,
	[sighting_picture] [varchar](max) NULL,
	[sighting_area_id] [int] NULL,
	[latitude] [decimal](9, 6) NULL,
	[longitude] [decimal](9, 6) NULL,
	[description] [nvarchar](max) NULL,
	[report_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_volunteer_report] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOLUNTEER_SUBSCRIPTION]    Script Date: 11/6/2025 3:19:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOLUNTEER_SUBSCRIPTION](
	[id_missing_document] [int] NOT NULL,
	[id_volunteer] [int] NOT NULL,
	[subscribed_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [pk_volunteer_subscription] PRIMARY KEY CLUSTERED 
(
	[id_missing_document] ASC,
	[id_volunteer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([id], [username], [password], [email], [full_name], [birthday], [address], [gender], [phone], [profile_picture_url], [account_type], [account_status], [created_at]) VALUES (1, N'police_trung', N'$2a$10$vVp0ertcZEs2N4wakturFuXnMNpmYdjmlWK09GB5Wa3kTZ8Nsx0yW', N'trung.police@gov.vn', N'Nguyễn Văn Trung', CAST(N'1985-05-10' AS Date), N'123 Võ Văn Tần, Q3, TP.HCM', 0, N'0901234567', NULL, N'police', 1, CAST(N'2025-10-24T21:10:22.953' AS DateTime))
INSERT [dbo].[ACCOUNT] ([id], [username], [password], [email], [full_name], [birthday], [address], [gender], [phone], [profile_picture_url], [account_type], [account_status], [created_at]) VALUES (2, N'partner_lien', N'hashed_pass_c2', N'lien.care@mail.com', N'Trần Thị Liên', CAST(N'1990-02-15' AS Date), N'456 Lý Thường Kiệt, Q10, TP.HCM', 1, N'0907654321', NULL, N'care_partner', 1, CAST(N'2025-10-24T21:10:22.953' AS DateTime))
INSERT [dbo].[ACCOUNT] ([id], [username], [password], [email], [full_name], [birthday], [address], [gender], [phone], [profile_picture_url], [account_type], [account_status], [created_at]) VALUES (5, N'ngoquangminh', N'$2a$10$vVp0ertcZEs2N4wakturFuXnMNpmYdjmlWK09GB5Wa3kTZ8Nsx0yW', N'minhngoquang6@gmail.com', N'Ngo Quang Minh', CAST(N'2004-05-09' AS Date), N'123, Hai Ba Trung', 1, N'12345678', N'', N'VOLUNTEER', 1, CAST(N'2025-10-25T04:39:56.190' AS DateTime))
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[AREA] ON 

INSERT [dbo].[AREA] ([id], [commune], [district], [province], [country], [latitude], [longitude], [description]) VALUES (1, N'Bến nghé', N'District 1', N'Ho Chi Minh City', N'Viet Nam', CAST(10.767228 AS Decimal(9, 6)), CAST(106.691869 AS Decimal(9, 6)), NULL)
INSERT [dbo].[AREA] ([id], [commune], [district], [province], [country], [latitude], [longitude], [description]) VALUES (2, N'', N'Tan Binh', N'Ho Chi Minh City', N'Viet Nam', CAST(10.769302 AS Decimal(9, 6)), CAST(106.658267 AS Decimal(9, 6)), NULL)
SET IDENTITY_INSERT [dbo].[AREA] OFF
GO
INSERT [dbo].[CARE_PARTNER] ([id], [partner_status], [partner_type], [organization_name]) VALUES (5, 1, N'Surveilance', N'PTIT')
GO
INSERT [dbo].[CARE_PARTNER] ([id], [partner_status], [partner_type], [organization_name]) VALUES (1, 1, N'Surveilance', N'Manchester City')
GO
SET IDENTITY_INSERT [dbo].[MISSING_DOCUMENT] ON 

SET IDENTITY_INSERT [dbo].[MISSING_DOCUMENT] OFF
GO
INSERT [dbo].[POLICE] ([id], [police_code], [rank], [station], [patrol_car_number]) VALUES (1, N'PC12345', N'Sergeant', N'Central Station', N'PC-6789')
GO
INSERT INTO VOLUNTEER (id, volunteer_status, date_joined, skills, rating)
VALUES 
(1, 1, '2023-01-15', 'first aid, teaching', 4.5),
(2, 0, '2022-11-20', 'counseling, event planning', 4.0),
(5, 1, '2023-03-10', 'logistics, fundraising', 4.8),
(7, 1, '2023-03-10', 'logistics, fundraising', 4.8),
(8, 1, '2023-03-10', 'logistics, fundraising', 4.8);
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_account_email]    Script Date: 11/6/2025 3:19:41 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_account_email] ON [dbo].[ACCOUNT]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_account_username]    Script Date: 11/6/2025 3:19:41 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_account_username] ON [dbo].[ACCOUNT]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_police_code]    Script Date: 11/6/2025 3:19:41 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_police_code] ON [dbo].[POLICE]
(
	[police_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ux_police_patrol_car]    Script Date: 11/6/2025 3:19:41 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_police_patrol_car] ON [dbo].[POLICE]
(
	[patrol_car_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [df_account_account_status]  DEFAULT ((1)) FOR [account_status]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [df_account_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CARE_PARTNER] ADD  CONSTRAINT [df_care_partner_partner_status]  DEFAULT ((1)) FOR [partner_status]
GO
ALTER TABLE [dbo].[CCTV_REPORT] ADD  CONSTRAINT [df_cctv_report_time_report]  DEFAULT (getdate()) FOR [time_report]
GO
ALTER TABLE [dbo].[CCTV_REPORT] ADD  CONSTRAINT [df_cctv_report_confirmation_status]  DEFAULT ('Pending_Review') FOR [confirmation_status]
GO
ALTER TABLE [dbo].[MISSING_DOCUMENT] ADD  CONSTRAINT [df_missing_document_report_date]  DEFAULT (getdate()) FOR [report_date]
GO
ALTER TABLE [dbo].[MISSING_DOCUMENT] ADD  CONSTRAINT [df_missing_document_case_status]  DEFAULT ('Missing') FOR [case_status]
GO
ALTER TABLE [dbo].[VOLUNTEER] ADD  CONSTRAINT [df_volunteer_volunteer_status]  DEFAULT ((1)) FOR [volunteer_status]
GO
ALTER TABLE [dbo].[VOLUNTEER] ADD  CONSTRAINT [df_volunteer_rating]  DEFAULT ((3.0)) FOR [rating]
GO
ALTER TABLE [dbo].[VOLUNTEER_REPORT] ADD  CONSTRAINT [df_volunteer_report_time_report]  DEFAULT (getdate()) FOR [report_time]
GO
ALTER TABLE [dbo].[VOLUNTEER_REPORT] ADD  CONSTRAINT [df_volunteer_report_status]  DEFAULT ('Submitted') FOR [report_status]
GO
ALTER TABLE [dbo].[VOLUNTEER_SUBSCRIPTION] ADD  CONSTRAINT [df_volunteer_subscription_subscribed_date]  DEFAULT (getdate()) FOR [subscribed_date]
GO
ALTER TABLE [dbo].[VOLUNTEER_SUBSCRIPTION] ADD  CONSTRAINT [df_volunteer_subscription_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[CARE_PARTNER]  WITH CHECK ADD  CONSTRAINT [fk_care_partner_account] FOREIGN KEY([id])
REFERENCES [dbo].[ACCOUNT] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARE_PARTNER] CHECK CONSTRAINT [fk_care_partner_account]
GO
ALTER TABLE [dbo].[CCTV]  WITH CHECK ADD  CONSTRAINT [fk_cctv_area] FOREIGN KEY([id_area])
REFERENCES [dbo].[AREA] ([id])
GO
ALTER TABLE [dbo].[CCTV] CHECK CONSTRAINT [fk_cctv_area]
GO
ALTER TABLE [dbo].[CCTV_REPORT]  WITH CHECK ADD  CONSTRAINT [fk_cctv_report_cctv] FOREIGN KEY([id_cctv])
REFERENCES [dbo].[CCTV] ([id])
GO
ALTER TABLE [dbo].[CCTV_REPORT] CHECK CONSTRAINT [fk_cctv_report_cctv]
GO
ALTER TABLE [dbo].[CCTV_REPORT]  WITH CHECK ADD  CONSTRAINT [fk_cctv_report_missing_document] FOREIGN KEY([id_missing_document])
REFERENCES [dbo].[MISSING_DOCUMENT] ([id])
GO
ALTER TABLE [dbo].[CCTV_REPORT] CHECK CONSTRAINT [fk_cctv_report_missing_document]
GO
ALTER TABLE [dbo].[CCTV_REPORT]  WITH CHECK ADD  CONSTRAINT [fk_cctv_report_police] FOREIGN KEY([id_police_reviewer])
REFERENCES [dbo].[POLICE] ([id])
GO
ALTER TABLE [dbo].[CCTV_REPORT] CHECK CONSTRAINT [fk_cctv_report_police]
GO
ALTER TABLE [dbo].[DETAIL_AREA_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [fk_detail_area_account_account] FOREIGN KEY([id_account])
REFERENCES [dbo].[ACCOUNT] ([id])
GO
ALTER TABLE [dbo].[DETAIL_AREA_ACCOUNT] CHECK CONSTRAINT [fk_detail_area_account_account]
GO
ALTER TABLE [dbo].[DETAIL_AREA_ACCOUNT]  WITH CHECK ADD  CONSTRAINT [fk_detail_area_account_area] FOREIGN KEY([id_area])
REFERENCES [dbo].[AREA] ([id])
GO
ALTER TABLE [dbo].[DETAIL_AREA_ACCOUNT] CHECK CONSTRAINT [fk_detail_area_account_area]
GO
ALTER TABLE [dbo].[MANAGE_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [fk_manage_document_found_volunteer] FOREIGN KEY([id_found_volunteer])
REFERENCES [dbo].[VOLUNTEER] ([id])
GO
ALTER TABLE [dbo].[MANAGE_DOCUMENT] CHECK CONSTRAINT [fk_manage_document_found_volunteer]
GO
ALTER TABLE [dbo].[MANAGE_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [fk_manage_document_missing_document] FOREIGN KEY([id_missing_document])
REFERENCES [dbo].[MISSING_DOCUMENT] ([id])
GO
ALTER TABLE [dbo].[MANAGE_DOCUMENT] CHECK CONSTRAINT [fk_manage_document_missing_document]
GO
ALTER TABLE [dbo].[MANAGE_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [fk_manage_document_police] FOREIGN KEY([id_police])
REFERENCES [dbo].[POLICE] ([id])
GO
ALTER TABLE [dbo].[MANAGE_DOCUMENT] CHECK CONSTRAINT [fk_manage_document_police]
GO
ALTER TABLE [dbo].[MISSING_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [fk_missing_document_area] FOREIGN KEY([id_missing_area])
REFERENCES [dbo].[AREA] ([id])
GO
ALTER TABLE [dbo].[MISSING_DOCUMENT] CHECK CONSTRAINT [fk_missing_document_area]
GO
ALTER TABLE [dbo].[MISSING_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [fk_missing_document_care_partner] FOREIGN KEY([id_reporter])
REFERENCES [dbo].[CARE_PARTNER] ([id])
GO
ALTER TABLE [dbo].[MISSING_DOCUMENT] CHECK CONSTRAINT [fk_missing_document_care_partner]
GO
ALTER TABLE [dbo].[POLICE]  WITH CHECK ADD  CONSTRAINT [fk_police_account] FOREIGN KEY([id])
REFERENCES [dbo].[ACCOUNT] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POLICE] CHECK CONSTRAINT [fk_police_account]
GO
ALTER TABLE [dbo].[VOLUNTEER]  WITH CHECK ADD  CONSTRAINT [fk_volunteer_account] FOREIGN KEY([id])
REFERENCES [dbo].[ACCOUNT] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VOLUNTEER] CHECK CONSTRAINT [fk_volunteer_account]
GO
ALTER TABLE [dbo].[VOLUNTEER_REPORT]  WITH CHECK ADD  CONSTRAINT [fk_volunteer_report_area] FOREIGN KEY([sighting_area_id])
REFERENCES [dbo].[AREA] ([id])
GO
ALTER TABLE [dbo].[VOLUNTEER_REPORT] CHECK CONSTRAINT [fk_volunteer_report_area]
GO
ALTER TABLE [dbo].[VOLUNTEER_REPORT]  WITH CHECK ADD  CONSTRAINT [fk_volunteer_report_missing_document] FOREIGN KEY([id_missing_document])
REFERENCES [dbo].[MISSING_DOCUMENT] ([id])
GO
ALTER TABLE [dbo].[VOLUNTEER_REPORT] CHECK CONSTRAINT [fk_volunteer_report_missing_document]
GO
ALTER TABLE [dbo].[VOLUNTEER_REPORT]  WITH CHECK ADD  CONSTRAINT [fk_volunteer_report_volunteer] FOREIGN KEY([id_volunteer])
REFERENCES [dbo].[VOLUNTEER] ([id])
GO
ALTER TABLE [dbo].[VOLUNTEER_REPORT] CHECK CONSTRAINT [fk_volunteer_report_volunteer]
GO
ALTER TABLE [dbo].[VOLUNTEER_SUBSCRIPTION]  WITH CHECK ADD  CONSTRAINT [fk_volunteer_subscription_missing_document] FOREIGN KEY([id_missing_document])
REFERENCES [dbo].[MISSING_DOCUMENT] ([id])
GO
ALTER TABLE [dbo].[VOLUNTEER_SUBSCRIPTION] CHECK CONSTRAINT [fk_volunteer_subscription_missing_document]
GO
ALTER TABLE [dbo].[VOLUNTEER_SUBSCRIPTION]  WITH CHECK ADD  CONSTRAINT [fk_volunteer_subscription_volunteer] FOREIGN KEY([id_volunteer])
REFERENCES [dbo].[VOLUNTEER] ([id])
GO
ALTER TABLE [dbo].[VOLUNTEER_SUBSCRIPTION] CHECK CONSTRAINT [fk_volunteer_subscription_volunteer]
GO
